.cycles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.cycledots {
  display: flex;
  gap: 0.8rem;
}

.cycledot {
  width: 2rem;
  height: 2rem;
  background-color: var(--primary);
  border-radius: 50%;
}

.worktime {
  background-color: var(--warning);
}

.shortbreaktime {
  background-color: var(--primary);
}

.longbreaktime {
  background-color: var(--info);
}
